@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: #000;
  transition: 0.3s ease;
}

::after,
::before {
  transition: 0.3s ease;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}
