.card {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 15px;
  border-radius: 35px;
  width: 20%;
  min-width: 260px;
  position: relative;
  background: #fff;
  scroll-snap-align: center;
  transition: all 0.25s ease;
  border: 2px solid #fff;
  &.active {
    //  transform: translate(0, -10px);
    box-shadow: 0px 10px 30px 0px rgba(254, 160, 26, 0.2);
    border: 2px solid #fea01a;
    .con-btn {
      .add {
        display: none;
      }
      .con-input-btns {
        display: flex;
      }
    }
    .con-image img:not(.bg) {
      transform: scale(1.15);
    }
  }
  .con-star {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 30px;
    font-size: 1.2rem;
    z-index: 99;
    transition: 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      color: #fdc527;
    }
  }
  .con-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 30px;
    background: #f5f5f5;
    img {
      width: 250px;
      z-index: 20;
      transition: all 0.25s ease;
    }
    .bg {
      position: absolute;
      transform: translate(10px, 30px);
      z-index: 10;
      filter: blur(20px);
      opacity: 0.4;
    }
  }
  .con-text {
    width: 100%;
    padding: 10px 0px;
    font-size: 0.8rem;
    h3 {
      padding: 5px 0px;
    }
  }
  .con-price {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1rem;
    padding-top: 0px;
  }
  .con-btn {
    .add {
      width: 100%;
      padding: 15px;
      background: linear-gradient(130deg, #fdc527 0%, #fea01a 100%);
      border: 0px;
      border-radius: 20px;
      color: #fff;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.25s ease;
      &:active {
        transform: scale(0.8);
      }
    }
    .con-input-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;
      input {
        padding: 10px;
        flex: 1;
        width: calc(100% - 100px);
        height: 49px;
        border: 0px;
        border-bottom: 2px solid #f5f5f5;
        text-align: center;
        font-size: 1.3rem;
        outline: 0;
        border: 0;
        &::-webkit-inner-spin-button {
          display: none;
        }
      }
      button {
        padding: 10px;
        min-width: 49px;
        height: 49px;
        border: 0px;
        border-radius: 20px;
        background: linear-gradient(130deg, #fdc527 0%, #fea01a 100%);
        color: #fff;
        font-size: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.25s ease;
        &:active {
          transform: scale(0.8);
        }
      }
    }
  }
}
